- variant ||= :thumb_default

= link_to snapshot.variant_path(:display), class: 'gallery-item', data: { gallery: 'snapshots' }, title: snapshot.title do
  = image_tag(snapshot.variant_path(variant), class: "img-fluid rounded #{snapshot.highlight? ? 'highlight-shadow' : 'shadow-sm'}")
