- variant ||= Snapshot::THUMB_DEFAULT_VARIANT

= link_to snapshot.file.variant(Snapshot::DISPLAY_VARIANT), class: 'gallery-item', data: { gallery: 'snapshots' }, title: snapshot.title do
  = image_tag(snapshot.file.variant(variant), class: "img-fluid rounded #{snapshot.highlight? ? 'highlight-shadow' : 'shadow-sm'}")
