- resize_to_fill ||= [400, 300]

= link_to rails_blob_path(snapshot.file), class: 'gallery-item', data: { gallery: 'snapshots' }, title: snapshot.title do
  = image_tag(snapshot.file.variant(resize_to_fill:), class: "img-fluid rounded #{snapshot.highlight? ? 'highlight-shadow' : 'shadow-sm'}")
