= card_body do
  %p Hier kannst du bis zu <b>15 Schnappschüsse</b> von deinem Wettkampf hochladen. Sie werden deinen Besuchern als kleine Bildergalerie angezeigt.
  %p Ein Bild kannst du als <b>Highlight</b> markieren. Nur dieses Bild wird auf der Startseite per Zufall auf deinen Wettkampf verweisen.
