.card.text-bg-accent2.mt-4
  .card-header
    Mitmachen

  .card-body
    %p
      Feusport lebt von der Gemeinschaft.
      Wer möchte, kann das Projekt mit Ideen, Feedback, Programmierarbeit oder einer Spende unterstützen.

    %p.mb-0
      = link_to 'Mehr erfahren', info_path
